#chat2 .form-control {
    border-color: transparent;
}

#chat2 .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.my-custom-scrollbar {
    position: relative;
    height: 280px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.custom-card {
    min-height: 90vh !important;
    border-radius: 0 !important;
}

.with-border {
    border-bottom: 2px solid #333 !important;
    padding-bottom: 5px !important;
}

.search-click {
    border: 1px solid #ccc;
    outline: none;
    background-size: 22px;
    background-position: 13px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    padding: 25px;
    transition: all 0.5s;
}

.search-click:focus {
    width: 300px;
    padding-left: 50px;
}

.search-click {
    position: relative;
    overflow: hidden;
    height: 50px;
}

.search-click input {
    background: transparent;
    border: 1px solid #ccc;
    outline: none;
    position: absolute;
    width: 300px;
    height: 50px;
    left: 0%;
    padding: 10px;
}

/* .search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
} */


.group-icon {
    height: 40px !important;
    width: 40px !important;
    border-radius: 40px !important;
}

.navbar {
    background-color: cornsilk !important;
}

#chat3 .form-control {
    border-color: transparent;
}

#chat3 .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.badge-dot {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-left: 2.9rem;
    margin-top: -.75rem;
}

.contain {
    padding: 0 !important;
}

.custom-container {
    display: flex !important;
    padding-left: 10% !important;
}

.custom-navbar {
    background-color: white !important;
    padding-top: 0 !important;
}

.custom-card-header {
    background-color: white !important;
    border-bottom: 0 !important;
}

.card-footer {
    background-color: cornsilk !important;
}

.header {
    text-align: center;
    background: cornsilk;
    height: 70px;
    font-size: 20px;
    padding-top: 15px;
    border: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#heading {
    margin-left: auto;
    flex-grow: 1;
}

.form-control {
    margin: 10px;
}

.menu-button {
    margin: 0;
}

#search-addon {
    background-color: white;
}

#createGroup {
    position: relative;
    display: none;
}

.cut-button {
    position: absolute;
    top: 10px !important;
    right: 10px !important;
    background-color: white;
    border: none;
}

p {
    text-decoration: none !important;
}

.groupInfo {
    margin-left: 10px !important;
}